KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/process.o \
$(ARCHDIR)/pc.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isrs.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/kbd.o \
$(ARCHDIR)/kmalloc.o \
$(ARCHDIR)/kheap.o \
$(ARCHDIR)/ordered_array.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/task.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
